/* @import url('https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat');


html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat';
} */

.carousel {
    width: 100%;
    height: 100%;
}

.form {
    box-sizing: border-box;
    background-blend-mode: hard-light;
    background-color:lightblue;
    padding: 5%;
}

.container-fluid {
    padding-bottom: 2%;
}

/* .col-xs-12:: after {
    padding-bottom: 2%;
} */
